<button (click)="dialogRef.close()" class="close-btn-dialog">
  <i class="fas fa-times"></i>
</button>
<h2 mat-dialog-title>Department Form</h2>
<div id="form-container" mat-dialog-content>
  <form [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.valid)">
    <!-- MANAGER -->
    <mat-form-field class="full-width">
      <input matInput formControlName="departmentName" placeholder="Department Name">
      <mat-error *ngIf="inputForm.get('departmentName').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="departmentHod" placeholder="HOD Name">
      <mat-error *ngIf="inputForm.get('departmentHod').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="departmentHodEmail" placeholder="HOD Email">
      <mat-error *ngIf="inputForm.get('departmentHodEmail').hasError('required')">Required</mat-error>
    </mat-form-field>
    <div>
      <br>
      <button class="submit-btn" mat-raised-button type="submit">Submit</button>
    </div>
  </form>
</div>
