@import "../../../../sass/variables.scss";

header {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: $app-primary-color;
//   box-shadow: inset 7px 0 14px -7px rgba(10, 10, 10, 0.7);
  height: 50px;
  width: 100%;
}

.appName {
  display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  left: 50px;
  top: 10px;
  // color: rgb(83, 98, 112);

  div:last-child {
    color: ghostwhite;
    padding: 0 4px;
  }
}
