@import "../../../../sass/variables.scss";

header {
  display: flex;
  flex-direction: row;
  background-color: $app-primary-color;
  height: 50px;
  width: 100%;
}

.appName {
  display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  left: 90px;
  top: 12px;

  div:last-child {
    color: ghostwhite;
    padding: 0 4px;
  }
}

.settings {
  position: absolute;
  right: 60px;
  font-size: 20px;
  top: 15px;
  cursor: pointer;
}

.ruler {
  border-top: 1px solid white;
}
