$color-blue:  #1565c0;

$color-6: hsl(232, 61%, 10%);
$color-5: hsl(233, 33%, 26%);
$color-4: hsl(218, 43%, 33%);
$color-3: hsl(187, 64%, 39%);
$color-2: hsl(164, 44%, 54%);
$color-1:hsl(44, 69%, 55%);

$app-primary-color: hsl(198, 44%, 53%);