<button (click)="dialogRef.close()"
  class="close-btn-dialog">
  <i class="fas fa-times"></i>
</button>
<div id="form-container"
  mat-dialog-content>
  <form [formGroup]="inputForm"
    (ngSubmit)="onSubmit(inputForm.valid)">
    <!-- MANAGER -->
    <mat-form-field>
      <input matInput
        formControlName="departmentName"
        placeholder="Department Name">
      <mat-error *ngIf="inputForm.get('departmentName').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        formControlName="departmentHod"
        placeholder="HOD Name">
      <mat-error *ngIf="inputForm.get('departmentHod').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        formControlName="departmentHodEmail"
        placeholder="HOD Email">
      <mat-error *ngIf="inputForm.get('departmentHodEmail').hasError('required')">Required</mat-error>
    </mat-form-field>
  </form>

  <erste-department-project [@smoothInOut]="in"
    [departmentId]="department.departmentId"
    *ngIf="!isNew && department "></erste-department-project>
  <div>
    <button mat-raised-button
      class="submit-btn"
      (click)="onSubmit(inputForm.valid)">Submit</button>&nbsp;
    <button mat-raised-button
      *ngIf="!isNew"
      color="warn"
      class="delete-btn"
      (click)="onDelete()">Delete</button>
  </div>


</div>