mat-table {
  // font-family: sf;
}

.submit-btn {
  position: relative;
  background-color: #519CBC;
  font-size: 14px;
  // font-family: sf;
  margin-bottom: 15px;
  left: 85%;
}

mat-cell i {
  cursor: pointer;
}
