<div class='password-container'>
  <form [formGroup]="inputForm">
    <mat-form-field class="full-width">
      <input matInput
        formControlName="password"
        type="password"
        placeholder="New Password">
      <mat-error *ngIf="inputForm.get('password').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput
        formControlName="confirm"
        type="password"
        placeholder="Confirm Password">
      <mat-error *ngIf="inputForm.get('confirm').hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-error class="error"
      *ngIf="notMatched">{{errorMessage}}</mat-error>
    <button mat-raised-button
      class="submit-btn"
      (click)="onSubmit(inputForm.valid)">Submit</button>&nbsp;
  </form>
</div>