#form-container {
  width: 30%;
  background-color: white;
  border:1px solid lightgrey;
  padding: 20px 30px;
  margin:100px auto;

}

.full-width {
  width: 100%;
}

.error {
  font-size: 12px;
  margin:10px 0;
}
