<div class="dashboard-container">

  <div class="dashboard-card">
    <div class="description user-description">
      Total Users
    </div>
    <div class="value">
      {{userLength}}
    </div>
  </div>

  <div class="dashboard-card">
    <div class="description transcription-description">
      Total Transcription
    </div>
    <div class="value">
      0
    </div>
  </div>

  <div class="dashboard-card">
      <div class="description payment-description">
        Payments
      </div>
      <div class="value">
        0
      </div>
    </div>
</div>