<div id="header">
  <h2>USERS</h2>
  <div></div>
  <button *ngIf="canCreate" class="submit-btn" mat-raised-button (click)="toggleDialog()">
    <i class="fas fa-plus"></i> {{buttonMessage}} </button>
</div>
<erste-resource-editor [@smoothInOut]="in" [isNew]="true" (refresh)="refreshDataTable()" *ngIf="isOpen">
</erste-resource-editor>
<section id="table-container">

  <mat-table #table [dataSource]="dataSource">
    <!-- Resource ID Column -->
    <ng-container matColumnDef="userid">
      <mat-header-cell *matHeaderCellDef>
        <div>USER ID</div>
        <div>
          <input (input)="onFilter('userId',$event.target.value)" type="text" />
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>

    <!-- Resource name Column -->
    <ng-container matColumnDef="emailaddress">
      <mat-header-cell *matHeaderCellDef>
        <div>EMAIL ADDRESS</div>
        <div>
          <input (input)="onFilter('emailAddress',$event.target.value)" type="text" />
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emailAddress}} </mat-cell>
    </ng-container>

    <!-- Resource level Column -->
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef>
        <div>FIRST NAME</div>
        <div>
          <input (input)="onFilter('firstName',$event.target.value)" type="text" />
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <!-- Resource level Column -->
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef>
        <div>LAST NAME</div>
        <div>
          <input (input)="onFilter('lastName',$event.target.value)" type="text" />
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>
  
    <!-- Resource level Column -->
    <ng-container matColumnDef="emailverified">
      <mat-header-cell *matHeaderCellDef>
        <div>EMAIL VERIFIED</div>
        <div>
          <input (input)="onFilter('emailVerified',$event.target.value)" type="text" />
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emailVerified}} </mat-cell>
    </ng-container>

      <!-- Resource level Column -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef>
          <div>ROLE</div>
          <div>
            <input (input)="onFilter('role',$event.target.value)" type="text" />
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
      </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element">
        <erste-resource-editor [user]="element.element" [expanded]="element.expanded"
          (refresh)="refreshDataTable()"></erste-resource-editor>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;let i = index" (click)="onRowClick(row,i)"
      [@smoothInOut]="in"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail'];when: isExpansionDetailRow"
      [@detailExpand]="row.element == currentUser ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row>
  </mat-table>
  <div class="loader" [@fadeOut]="in" *ngIf="isLoading">
    <div class="swirl"></div>
  </div>
</section>