#header {
  display: grid;
  width: 100%;
  grid-template-columns: 40% auto 10%;
  grid-template-rows: auto;
  padding-top: 10px;
}

#header .mat-form-field {
  margin: 0 5px;
}

#header button {
  justify-self: end;
  align-self: center;
}

#table-container {
  transition: all 1s;
  margin-bottom: 200px;
}

erste-resource-editor {
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: #F2F2F2;
}

.submit-btn {
  position: relative;
  font-size: 14px;
  right: 50px;
}

a{
  color: black;
}

i {
  transition: transform 0.5s;
}

.mat-column-expandedDetail{
  padding: 0;
}

.mat-column-expandedDetail #form-container{
  margin-bottom: 0;
  border: 0;
}

