<button mat-raised-button class="submit-btn" (click)="openDialog()">
  <i class="fas fa-plus"></i> New Entry </button>
<section id="table-container">

  <mat-table #table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceId}} </mat-cell>
    </ng-container>

    <!-- Project Id Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceName}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- Edit Column -->
        <a class="icon-hover-green">
          <i class="fas fa-edit"></i>
        </a>
        <a href="" class="space-between"></a>
        <!-- Delete Column -->
        <a class="icon-hover-red" (click)="deleteResource(element)">
          <i class="fas fa-trash"></i>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</section>