<button class="submit-btn"
  mat-raised-button
  (click)="openDialog()">
  <i class="fas fa-plus"></i> New Entry </button>
<section id="table-container">
  <mat-table #table
    [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> BILLING ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.billingId}} </mat-cell>
    </ng-container>

    <!-- HOD -->
    <ng-container matColumnDef="technologyName">
      <mat-header-cell *matHeaderCellDef> TECHNOLOGY NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{technologies?getTechnologyName(element.technologyId):''}} </mat-cell>
    </ng-container>

    <!-- HOD Email -->
    <ng-container matColumnDef="levelId">
      <mat-header-cell *matHeaderCellDef> LEVEL NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{levels?getLevelName(element.resourceLevelId):'' }} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- Edit Column -->
        <a class="icon-hover-green"
          (click)="editBillingRate(element)">
          <i class="fas fa-edit"></i>
        </a>
        <a href=""
          class="space-between"></a>
        <!-- Delete Column -->
        <a class="icon-hover-red"
          (click)="deleteBillingRate(element._id)">
          <i class="fas fa-trash"></i>
        </a>
        <a href=""
          class="space-between"></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</section>