<button (click)="dialogRef.close()"
  class="close-btn-dialog">
  <i class="fas fa-times"></i>
</button>
<h2 mat-dialog-title>BILLING RATE FORM</h2>
<div id="form-container"
  mat-dialog-content>
  <form [formGroup]="inputForm"
    (ngSubmit)="onSubmit(inputForm.valid)">

    <!-- Technology ID -->
    <mat-form-field class="full-width">
      <mat-select matInput
        formControlName="technologyId"
        placeholder="Technology">
        <mat-option [value]="technology.technologyId"
          *ngFor="let technology of technologies">{{technology.technologyName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="inputForm.get('technologyId').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- Level ID -->
    <mat-form-field class="full-width">
      <mat-select matInput
        formControlName="resourceLevelId"
        placeholder="Level">
        <mat-option [value]="level.levelId"
          *ngFor="let level of levels">{{level.levelName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="inputForm.get('resourceLevelId').hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
        formControlName="resourceOffshoreRate"
        placeholder="Resource Offshore Rate"
        type="number">
      <mat-error *ngIf="inputForm.get('resourceOffshoreRate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
        formControlName="resourceOnshoreShorttermRate"
        placeholder="Resource Onshore Shor Term Rate"
        type="number">
      <mat-error *ngIf="inputForm.get('resourceOnshoreShorttermRate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
        formControlName="resourceOnshoreLongtermRate"
        placeholder="Resource Onshore Long term Rate"
        type="number">
      <mat-error *ngIf="inputForm.get('resourceOnshoreLongtermRate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
        formControlName="resourceOncallStandbyRate"
        placeholder="Resource Oncall Standby Rate">
      <mat-error *ngIf="inputForm.get('resourceOncallStandbyRate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
        formControlName="resourceOncallSupportWeekdayRate"
        placeholder="Resource Oncall Support Weekday Rate">
      <mat-error *ngIf="inputForm.get('resourceOncallSupportWeekdayRate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
        formControlName="resourceOncallSupportWeekendRate"
        placeholder="Resource Oncall Support Weekend Rate">
      <mat-error *ngIf="inputForm.get('resourceOncallSupportWeekendRate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <div>
      <br>
      <button class="submit-btn"
        mat-raised-button
        type="submit">Submit</button>
    </div>
  </form>
</div>