<div id="sidepanel-container">
    <div class="details-container">
        <div class="img-container">
            <img src="../../../../assets/user.png" alt="">
        </div>
        <div class="details">
            <p>{{user?.firstName}}</p>
            <p class="separator"></p>
            <p>Admin</p>
        </div>
    </div>
    <div class="sidepanel" (click)="onItemClick($event)">
        <div routerLink="/dashboard" class="panelItem active">Dashboard</div>
        <div routerLink="/user" class="panelItem">Users</div>
        <div class="panelItem ">Payments</div>
    </div>
</div>