@import "../../../../sass/variables.scss";

.sidepanel {
  background-color: $sidePanel-color;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: hidden;
  color: white;
}

.panelItem {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.active {
  background-color: $sidePanel-activeLink-color;
  color: $color-white;
}