<div id="sidepanel-container">
    <div class="details-container">
        <div class="img-container">
            <img src="../../../../assets/user.png"
                alt="">
        </div>
        <div class="details">
            <p>{{user}}</p>
            <p class="separator"></p>
            <p>{{designation}}</p>
        </div>
    </div>
    <div class="sidepanel"
        (click)="onItemClick($event)">
        <div routerLink="/project"
            class="panelItem active">Project</div>
        <div routerLink="/resource"
            class="panelItem">Resource</div>
        <div routerLink="/attendance"
            class="panelItem">Attendance</div>
        <div routerLink="/admin"
            class="panelItem">Misc</div>
        <div routerLink="/publish"
            class="panelItem">Publish</div>
    </div>
</div>