<h2>ADMIN DASHBOARD</h2>
<mat-tab-group>
  <mat-tab label="Resources">
    <erste-admin-resources></erste-admin-resources>
  </mat-tab>
  <mat-tab label="Departments">
    <erste-admin-departments></erste-admin-departments>
  </mat-tab>
  <mat-tab label="Technology">
    <erste-admin-technology></erste-admin-technology>
  </mat-tab>
  <mat-tab label="Billing">
    <erste-admin-departments></erste-admin-departments>
  </mat-tab>
  <mat-tab label="Levels">
    <erste-admin-departments></erste-admin-departments>
  </mat-tab>
</mat-tab-group>