.publish-btn {
  background-color: #207245;
  color: white;
  border: none;
  cursor: pointer;
}

#form-container {
  background-color: white;
  border:1px solid lightgrey;
  padding: 10px 30px;
  margin-top:50px;
}

.full-width {
  width: 100%;
}

.error {
  font-size: 12px;
  margin:10px 0;
}

.mat-form-field {
  margin-right: 30px;
}
