.mat-header-cell {
  align-items: center;
  justify-content: center;
  border-right: 1px solid lightgrey;
  padding-left:2px;
}

.mat-cell {
  flex-direction: column;
  border-right: 1px solid lightgrey;
  padding-left: 2px;
  height: 57px;
  justify-content: center;
}

.mat-form-field {
  width: 160px;
}

.mat-row {
  align-items: start;
}

.paddingTop {
  padding-top: 5px;
}

.extraWidth6 {
  flex:6;
}

.extraWidth2 {
  flex:2;
}

.hide {
  display: none;
}

.extraRow {
  align-items: center;
  flex-direction: row;
  padding-top: 5px;
  padding-left: 10px;
  justify-content: start;
}

i {
  margin-left: 10px;
}