<div id="header">
  <h2>PROJECT RESOURCES</h2>
  <div></div>
  <button class="submit-btn"
    mat-raised-button
    (click)="openDialog()">
    <i class="fas fa-plus"></i> New Entry </button>
</div>
<section id="table-container">
  <mat-table #table
    [dataSource]="dataSource">

    <!-- Project Id -->
    <ng-container matColumnDef="projectId">
      <mat-header-cell *matHeaderCellDef>PROJECT ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectId}} </mat-cell>
    </ng-container>

    <!-- Resource Id -->
    <ng-container matColumnDef="resourceId">
      <mat-header-cell *matHeaderCellDef> RESOURCE ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceId}} </mat-cell>
    </ng-container>

    <!-- Project Name -->
    <ng-container matColumnDef="resourceAllocation">
      <mat-header-cell *matHeaderCellDef> RESOURCE ALLOCATION (%) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceAllocation}} </mat-cell>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> ACTION </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- Edit Column -->
        <a class="icon-hover-green"
          (click)="editProjectResource(element)">
          <i class="fas fa-edit"></i>
        </a>
        <a href=""
          class="space-between"></a>
        <!-- Delete Column -->
        <a class="icon-hover-red"
          (click)="deleteProjectResource(element._id)">
          <i class="fas fa-trash"></i>
        </a>
        <a href=""
          class="space-between"></a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</section>