<div id="header">
  <h2>PROJECT RESOURCES</h2>
  <div>
  </div>
  <div>
    <button class="submit-btn"
      mat-raised-button
      color="primary"
      routerLink="/project">
      <i class="fas fa-arrow-left"></i> Back </button>
    <button class="submit-btn"
      mat-raised-button
      (click)="toggleDialog()">
      <i class="fas fa-plus"></i> {{buttonMessage}} </button>
  </div>
</div>

<erste-project-resource-editor [@smoothInOut]="in"
  [isNew]="true"
  [projectId]="projectId"
  (refresh)="refreshDataTable()"
  *ngIf="isOpen"></erste-project-resource-editor>

<section id="table-container">
  <mat-table #table
    [dataSource]="dataSource">

    <!-- Project Id -->
    <ng-container matColumnDef="projectId">
      <mat-header-cell *matHeaderCellDef>PROJECT ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectId}} </mat-cell>
    </ng-container>

    <!-- Resource Id -->
    <ng-container matColumnDef="resourceId">
      <mat-header-cell *matHeaderCellDef> RESOURCE ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceId}} </mat-cell>
    </ng-container>

    <!-- Project Name -->
    <ng-container matColumnDef="resourceAllocation">
      <mat-header-cell *matHeaderCellDef> RESOURCE ALLOCATION (%) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceAllocation}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element">
        <erste-project-resource-editor [projectResource]="currentProjectResource"
          [projectId]="projectId"
          (refresh)="refreshDataTable()"></erste-project-resource-editor>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail'];when: isExpansionDetailRow"
      [@detailExpand]="row.element == currentProjectResource ? 'expanded' : 'collapsed'"
      style="overflow: hidden"></mat-row>
  </mat-table>

</section>