<button class="submit-btn" mat-raised-button (click)="openDialog()"><i class="fas fa-plus"></i> New Entry </button>
<section id="table-container">

    <mat-table #table [dataSource]="dataSource">
        <!-- Department ID -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.departmentId}} </mat-cell>
        </ng-container>

        <!-- Department Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.departmentName}} </mat-cell>
        </ng-container>

        <!-- HOD -->
        <ng-container matColumnDef="hod">
            <mat-header-cell *matHeaderCellDef> HOD </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.departmentHod}} </mat-cell>
        </ng-container>

        <!-- HOD Email -->
        <ng-container matColumnDef="hod_email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.departmentHodEmail}} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <!-- Edit Column -->
                <a class="icon-hover-green">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="" class="space-between"></a>
                <!-- Delete Column -->
                <a class="icon-hover-red">
                    <i class="fas fa-trash"></i>
                </a>
                <a href="" class="space-between"></a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    
</section>