<div id="header">
  <h2>ATTENDANCE</h2>
  <div class="filters">
    <!-- <mat-form-field>
      <mat-select placeholder="Year">
        <mat-option *ngFor="let year of selectYears"
          [value]="year.value">
          {{year.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Month">
        <mat-option *ngFor="let month of selectMonths"
          [value]="month.value">
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Project">
        <mat-option *ngFor="let project of selectProjects"
          [value]="project.value">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <button mat-raised-button
    class="submit-btn"
    (click)="openDialog()">
    <i class="fas fa-plus"></i> New Entry </button>
</div>
<section id="table-container">
  <mat-table #table
    [dataSource]="dataSource">
    <!-- resourceId -->
    <ng-container matColumnDef="resourceId">
      <mat-header-cell *matHeaderCellDef>EMPLOYEE ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceId}} </mat-cell>
    </ng-container>

    <!-- startDate -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date}} </mat-cell>
    </ng-container>


    <!-- attendanceType -->
    <ng-container matColumnDef="attendanceType">
      <mat-header-cell *matHeaderCellDef> ATTENDANCE TYPE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.attendanceType}} </mat-cell>
    </ng-container>

    <!-- reason -->
    <ng-container matColumnDef="remarks">
      <mat-header-cell *matHeaderCellDef> REMARKS </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> ACTIONS</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- Edit Column -->
        <a class="icon-hover-green"
          (click)="editAttendance(element)">
          <i class="fas fa-edit"></i>
        </a>
        <a href=""
          class="space-between"></a>
        <!-- Delete Column -->
        <a class="icon-hover-red"
          (click)="deleteAttendance(element.attendanceId)">
          <i class="fas fa-trash"></i>
        </a>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></mat-row>
  </mat-table>
</section>