
mat-table {
  font-family: sf;
}

.submit-btn {
  position: relative;
  background-color: #519CBC;
  font-size: 14px;
  font-family: sf;
  margin-bottom: 15px;
  left: 85%;
}

mat-cell i {
  cursor: pointer;
}

h2 {
  color: rgba(0,0,0,.50);
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label{
  font-family: sf;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #519CBC;
}
