#header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#header button {
    justify-self: end;
    align-self: center;
}

.submit-btn {
  position: relative;
  font-size: 14px;
  right: 50px;
}
