<div id="header">
  <h2>TASKS</h2>
  <div></div>
  <button class="submit-btn"
    mat-raised-button
    (click)="toggleDialog()">
    <i class="fas fa-plus"></i> {{buttonMessage}} </button>
</div>

<erste-task-editor [@smoothInOut]="'in'"
  [isNew]="true"
  (refresh)="refreshDataTable()"
  *ngIf="isOpen"></erste-task-editor>

<section id="table-container">

  <mat-table #table
    [dataSource]="dataSource">

    <!-- Task ID -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>
        <div>TASK ID</div>
        <div>
          <input (input)="onFilter('taskId',$event.target.value)"
            type="text" />
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.taskId}} </mat-cell>
    </ng-container>

    <!-- Task Name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <div>NAME</div>
        <div>
          <input (input)="onFilter('taskName',$event.target.value)"
            type="text" />
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.taskName}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element">
        <erste-task-editor [task]="currentTask"
          (refresh)="refreshDataTable()"></erste-task-editor>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [@smoothInOut]="in"
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail'];when: isExpansionDetailRow"
      [@detailExpand]="row.element == currentTask ? 'expanded' : 'collapsed'"
      style="overflow: hidden"></mat-row>
  </mat-table>
  <div class="loader"
    [@fadeOut]=""
    *ngIf="isLoading">
    <div class="swirl"></div>
  </div>

</section>