<mat-sidenav-container>
  <mat-sidenav #sidenav
    *ngIf="isLoggedIn"
    mode="side">
    <erste-sidepanel></erste-sidepanel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header-content">
      <button mat-button
        *ngIf="isLoggedIn"
        (click)="sidenav.toggle()"
        class="btn-toggle"
        [ngStyle]="toggleSidenav(sidenav.opened)">
        <i class="fas fa-align-justify"></i>
      </button>
      <erste-header></erste-header>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>