$sidenav-color:  hsl(204,12%,25%);
$sidenav-width: 20vw;

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sidepanel {
    width:20%;
    transition: width 0.15s ease-in-out;
}

erste-header {
    width: 100%;
}

.content {
    padding: 2em;
}

.main{
    width: 100%;
}