<div id="sidenav">
  <div id="menu">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Menu
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <a><i class="fas fa-power-off"></i> Logout</a>
        </li>
      </ul>
    </mat-expansion-panel>
  </div>
  <ul>
    <li>
      <a [routerLink]="['/attdtracker']">Attendance Tracker</a>
    </li>
    <li>
      <a  [routerLink]="['/admin']">Admin</a>
    </li>
  </ul>
</div>
<div id="main">
  <router-outlet></router-outlet>
</div>
