.mat-header-cell,.mat-cell {
    font-size:11px;
    padding-left: 0;
    margin:0 5px;
  }
  
  .mat-header-row {
    min-height: 30px;
    background-color: white;
    &:hover {
      cursor: auto;
    }
  }
  
  .mat-row {
    overflow: hidden;
    &:hover {
      background-color: white;
      cursor: auto;
    }
  }
  
  h2 {
    font-size: 14px;
    border-bottom: 1px solid black;
    padding-bottom: 11px;
    margin-bottom: 0;
  }
  
  .loader {
    height: 50px;
    box-shadow: none;
    position: absolute;
    width: 100%;
    
    .swirl {
      width: 20px;
      height: 20px;
      top: 15%;
      border-top: 3px solid #3498db;
    }
  }
  
  i {
    font-size: 14px;
  }
  
  .mat-checkbox {
    font-size: 11px;
    margin: 8px 10px;
  }
  
  .header-row {
    position: relative;
    i {
      position: absolute;
      left: 190px;
      top: 0;
      font-size: 16px;
      &:hover {
        color: green;
      }
    }
  }
  