<div id="header">
  <h2>PROJECTS</h2>
  <div></div>
  <button class="submit-btn"
    mat-raised-button
    (click)="toggleDialog()">
    <i class="fas fa-plus"></i> {{ buttonMessage }} </button>
</div>

<erste-project-editor [@smoothInOut]="in"
  [isNew]="true"
  (refresh)="refreshDataTable()"
  *ngIf="isOpen"></erste-project-editor>

<section id="table-container">
  <mat-table #table
    [dataSource]="dataSource">

    <!-- Project Id -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> PROJECT ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectId}} </mat-cell>
    </ng-container>

    <!-- Project Name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectNameAsPerSow}} </mat-cell>
    </ng-container>

    <!-- Project Model Name -->
    <ng-container matColumnDef="modelName">
      <mat-header-cell *matHeaderCellDef> PROJECT MODEL NAME</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectModelName}} </mat-cell>
    </ng-container>

    <!-- Project Model Name -->
    <ng-container matColumnDef="resources">
      <mat-header-cell *matHeaderCellDef> VIEW RESOURCES</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a class="icon-hover-green"
          [routerLink]="['/projectresource',element.projectId]"
          [queryParams]="{from:'project'}">
          <i class="fas fa-window-restore"></i>
        </a>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element">
        <erste-project-editor [project]="currentProject"
          (refresh)="refreshDataTable()"></erste-project-editor>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail'];when: isExpansionDetailRow"
      [@detailExpand]="row.element == currentProject ? 'expanded' : 'collapsed'"
      style="overflow: hidden"></mat-row>
  </mat-table>
  <div class="loader"
    *ngIf="isLoading">
    <div class="swirl"></div>
  </div>
</section>