<div id="form-container"
  mat-dialog-content>
  <form [formGroup]="inputForm"
    (ngSubmit)="onSubmit(inputForm.valid)">
    <!-- projectNameAsPerSow -->
    <mat-form-field>
      <input matInput
        formControlName="projectNameAsPerSow"
        placeholder="Name as per SOW">
      <mat-error *ngIf="inputForm.get('projectNameAsPerSow').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- TeamName -->
    <mat-form-field>
      <input matInput
        formControlName="teamName"
        placeholder="Team Name">
      <mat-error *ngIf="inputForm.get('teamName').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- departmentId -->
    <mat-form-field>
      <mat-select matInput
        formControlName="departmentId"
        placeholder="Department">
        <mat-option [value]="department.departmentId"
          *ngFor="let department of departments">{{department.departmentName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="inputForm.get('departmentId').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectTechnology -->
    <mat-form-field>
      <mat-select matInput
        formControlName="technologyId"
        placeholder="Technology"
        multiple>
        <mat-option [value]="technology.technologyId"
          *ngFor="let technology of technologies">{{technology.technologyName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="inputForm.get('technologyId').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectModelName -->
    <mat-form-field>
      <input matInput
        formControlName="projectModelName"
        placeholder="Project Model Name">
      <mat-error *ngIf="inputForm.get('projectModelName').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectSitTam -->
    <mat-form-field>
      <input matInput
        formControlName="projectSitTAM"
        placeholder="SIT TAM Name">
      <mat-error *ngIf="inputForm.get('projectSitTAM').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectSitTamEmail -->
    <mat-form-field>
      <input matInput
        formControlName="projectSitTAMEmail"
        placeholder="SIT TAM Emailid"
        type="email">
      <mat-error *ngIf="inputForm.get('projectSitTAMEmail').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectSitProjectManager -->
    <mat-form-field>
      <input matInput
        formControlName="projectSitProjectManager"
        placeholder="SIT Project Manager Name">
      <mat-error *ngIf="inputForm.get('projectSitProjectManager').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectSitProjectManagerEmail -->
    <mat-form-field>
      <input matInput
        formControlName="projectSitProjectManagerEmail"
        placeholder="SIT Project Manager Email"
        type="email">
      <mat-error *ngIf="inputForm.get('projectSitProjectManagerEmail').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectNagarroTAMId -->
    <mat-form-field>
      <input matInput
        formControlName="projectNagarroTAMId"
        placeholder="Nagarro Project TAM ID"
        type="number">
      <mat-error *ngIf="inputForm.get('projectNagarroTAMId').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectNagarroPMId -->
    <mat-form-field>
      <input matInput
        formControlName="projectNagarroPMId"
        placeholder="Nagarro PM ID"
        type="number">
      <mat-error *ngIf="inputForm.get('projectNagarroPMId').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectStartDate -->
    <mat-form-field>
      <input formControlName="projectStartDate"
        matInput
        [matDatepicker]="startDate"
        placeholder="Start Date">
      <mat-datepicker-toggle matSuffix
        [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
      <mat-error *ngIf="inputForm.get('projectStartDate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectEndDate -->
    <mat-form-field>
      <input formControlName="projectEndDate"
        matInput
        [matDatepicker]="endDate"
        placeholder="End Date">
      <mat-datepicker-toggle matSuffix
        [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
      <mat-error *ngIf="inputForm.get('projectEndDate').hasError('required')">Required</mat-error>
    </mat-form-field>


    <!-- projectCostCenter -->
    <mat-form-field>
      <input matInput
        formControlName="projectCostCenter"
        placeholder="Project Cost Center"
        type="number">
      <mat-hint>Number only</mat-hint>
      <mat-error *ngIf="inputForm.get('projectCostCenter').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- Level MSA Name -->
    <mat-form-field>
      <input matInput
        formControlName="projectPONumber"
        placeholder="Project PO Number">
      <mat-error *ngIf="inputForm.get('projectPONumber').hasError('required')">Required</mat-error>
    </mat-form-field>

  </form>
  <erste-project-resource [@smoothInOut]="in"
    [id]="project.projectId"
    [currentPath]="'project'"
    *ngIf="!isNew && project && expanded"></erste-project-resource>
  <div>
    <button mat-raised-button
      class="submit-btn"
      (click)="onSubmit(inputForm.valid)">Submit</button>&nbsp;
    <button mat-raised-button
      *ngIf="project"
      color="warn"
      class="delete-btn"
      (click)="onDelete()">Delete</button>
  </div>
</div>