<button (click)="dialogRef.close()"
  class="close-btn-dialog">
  <i class="fas fa-times"></i>
</button>
<!-- <h2 mat-dialog-title>New Resource</h2> -->
<div id="form-container">
  <form [formGroup]="inputForm">

    <!-- Resource Id -->
    <mat-form-field>
      <input matInput
        formControlName="resourceId"
        placeholder="Employee ID"
        type="number">
      <mat-error *ngIf="inputForm.get('resourceId').hasError('required')">Required</mat-error>
    </mat-form-field>


    <!-- Name -->
    <mat-form-field>
      <input matInput
        formControlName="resourceName"
        placeholder="Name">
      <mat-error *ngIf="inputForm.get('resourceName').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
      <input matInput
        formControlName="resourceEmail"
        placeholder="Email">
      <mat-error *ngIf="inputForm.get('resourceEmail').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- Joining Date -->
    <mat-form-field>
      <input formControlName="resourceErsteJoiningDate"
        matInput
        [matDatepicker]="joiningDate"
        placeholder="Erste Joining Date">
      <mat-datepicker-toggle matSuffix
        [for]="joiningDate"></mat-datepicker-toggle>
      <mat-datepicker #joiningDate></mat-datepicker>
      <mat-error *ngIf="inputForm.get('resourceErsteJoiningDate').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- Certifications -->
    <mat-form-field>
      <input matInput
        formControlName="resourceCertifications"
        placeholder="Certifications">
      <mat-hint>Comma Separated Values</mat-hint>
    </mat-form-field>

    <!-- Level Change Id -->
    <mat-form-field>
      <mat-select matInput
        formControlName="resourceLevelId"
        placeholder="Level Name">
        <mat-option [value]="level.levelId"
          *ngFor="let level of levels">{{level.levelName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="inputForm.get('resourceLevelId').hasError('required')">Required</mat-error>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button
      class="submit-btn"
      (click)="onSubmit(inputForm.valid)">Submit</button>&nbsp;
    <button mat-raised-button
      *ngIf="resource"
      color="warn"
      class="delete-btn"
      (click)="onDelete()">Delete</button>
  </div>
</div>