<div id="header">
  <h2>ATTENDANCE</h2>
  <div class="filters">
    <!-- <mat-form-field>
      <mat-select placeholder="Year">
        <mat-option *ngFor="let year of selectYears"
          [value]="year.value">
          {{year.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Month">
        <mat-option *ngFor="let month of selectMonths"
          [value]="month.value">
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Project">
        <mat-option *ngFor="let project of selectProjects"
          [value]="project.value">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <button mat-raised-button
    class="submit-btn"
    (click)="toggleDialog()">
    <i class="fas fa-plus"></i> {{buttonMessage}} </button>
</div>

<erste-attendance-editor [@smoothInOut]="in"
  [isNew]="true"
  (refresh)="refreshDataTable()"
  *ngIf="isOpen"></erste-attendance-editor>

<section id="table-container">
  <mat-table #table
    [dataSource]="dataSource">
    <!-- resourceId -->

    <ng-container matColumnDef="resourceId">
      <mat-header-cell *matHeaderCellDef>EMPLOYEE ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.resourceId}} </mat-cell>
    </ng-container>

    <!-- startDate -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date}} </mat-cell>
    </ng-container>


    <!-- attendanceType -->
    <ng-container matColumnDef="attendanceType">
      <mat-header-cell *matHeaderCellDef> ATTENDANCE TYPE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.attendanceType}} </mat-cell>
    </ng-container>

    <!-- reason -->
    <ng-container matColumnDef="remarks">
      <mat-header-cell *matHeaderCellDef> REMARKS </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element">
        <erste-attendance-editor [attendance]="currentAttendance"
          (refresh)="refreshDataTable()"></erste-attendance-editor>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail'];when: isExpansionDetailRow"
      [@detailExpand]="row.element == currentAttendance ? 'expanded' : 'collapsed'"
      style="overflow: hidden"></mat-row>
  </mat-table>
</section>