<div id="form-container"
  mat-dialog-content>
  <form [formGroup]="inputForm"
    (ngSubmit)="onSubmit(inputForm.valid)">

    <!-- resourceId -->
    <mat-form-field>
      <mat-select matInput
        formControlName="resourceId"
        placeholder="Resource">
        <mat-option [value]="resource.resourceId"
          *ngFor="let resource of resources">{{resource.resourceName + " (" + resource.resourceId + ") "}}</mat-option>
      </mat-select>
      <mat-error *ngIf="inputForm.get('resourceId').hasError('required')">Required</mat-error>
    </mat-form-field>


    <!-- projectModelName -->
    <mat-form-field>
      <input matInput
        formControlName="billRateId"
        placeholder="Billing Rate">
      <mat-error *ngIf="inputForm.get('billRateId').hasError('required')">Required</mat-error>
    </mat-form-field>

    <!-- projectSitTam -->
    <mat-form-field>
      <input matInput
        formControlName="resourceAllocation"
        placeholder="Resource Allocation"
        type="number">
      <mat-error *ngIf="inputForm.get('resourceAllocation').hasError('required')">Required</mat-error>
    </mat-form-field>

    <div class="mat-checkbox">
      <mat-checkbox matInput
        formControlName="resourceIsBillable">Is Billable</mat-checkbox>
    </div>
  </form>
  <div>
    <button mat-raised-button
      class="submit-btn"
      (click)="onSubmit(inputForm.valid)">Submit</button>&nbsp;
    <button mat-raised-button
      *ngIf="project"
      color="warn"
      class="delete-btn"
      (click)="onDelete()">Delete</button>
  </div>
</div>