<div class="header-row">
  <h2>{{header}}</h2>
  <i (click)="addNewRow()"
    class="far fa-plus-square"></i>
</div>
<section id="table-container">
  <form [formGroup]="inputForm">
    <mat-table [dataSource]="dataSource"
      formArrayName="formArray">

      <!-- Project Id -->
      <ng-container matColumnDef="projectId">
        <mat-header-cell *matHeaderCellDef>PROJECT </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"
          [formGroupName]="i">
          <mat-form-field>
            <mat-select matInput
              formControlName="projectId"
              placeholder="Project">
              <mat-option [value]="project.projectId"
                *ngFor="let project of projects">{{project.projectNameAsPerSow }}</mat-option>
            </mat-select>
            <mat-error *ngIf="(inputForm.get('formArray')).at(i).get('projectId').hasError('required')">Required</mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Resource Id -->
      <ng-container matColumnDef="resourceId">
        <mat-header-cell *matHeaderCellDef> RESOURCE </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"
          [formGroupName]="i">
          <mat-form-field>
            <mat-select matInput
              formControlName="resourceId"
              placeholder="Resource">
              <mat-option [value]="resource.resourceId"
                *ngFor="let resource of resources">{{resource.resourceName + " (" +resource.resourceId +")"}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(inputForm.get('formArray')).at(i).get('resourceId').hasError('required')">Required</mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Resource Allocation % -->
      <ng-container matColumnDef="resourceAllocation">
        <mat-header-cell *matHeaderCellDef> ALLOCATION (%) </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"
          [formGroupName]="i">
          <mat-form-field>
            <input matInput
              formControlName="resourceAllocation"
              placeholder="Resource Allocation"
              type="number">
            <mat-error *ngIf="(inputForm.get('formArray')).at(i).get('resourceAllocation').hasError('required')">Required</mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Resource Allocation % -->
      <ng-container matColumnDef="technology">
        <mat-header-cell *matHeaderCellDef> TECHNOLOGY </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"
          [formGroupName]="i">
          <!-- projectTechnology -->
          <mat-form-field>
            <mat-select matInput
              formControlName="technologyId"
              placeholder="Technology">
              <mat-option [value]="technology.technologyId"
                *ngFor="let technology of technologies">{{technology.technologyName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(inputForm.get('formArray')).at(i).get('technologyId').hasError('required')">Required</mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Invoicing Entity -->
      <ng-container matColumnDef="invoicingEntity">
        <mat-header-cell *matHeaderCellDef> INVOICING ENTITY </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"
          [formGroupName]="i">
          <mat-form-field>
            <mat-select matInput
              formControlName="invoicingEntity"
              placeholder="Invoicing Entity">
              <mat-option value="sit">SIT</mat-option>
              <mat-option value="egit">EGIT</mat-option>
            </mat-select>
            <mat-error *ngIf="(inputForm.get('formArray')).at(i).get('invoicingEntity').hasError('required')">Required</mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Non Billable -->
      <ng-container matColumnDef="nonBillable">
        <mat-header-cell *matHeaderCellDef> NON BILLABLE </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"
          [formGroupName]="i">
          <mat-form-field>
            <mat-select matInput
              formControlName="nonBillable"
              placeholder="Non Billable">
              <mat-option value="not">Not Applicable</mat-option>
              <mat-option value="commitment">Commitment</mat-option>
              <mat-option value="investment">Investment</mat-option>
            </mat-select>
            <mat-error *ngIf="(inputForm.get('formArray')).at(i).get('invoicingEntity').hasError('required')">Required</mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- Resource Billable information -->
      <ng-container matColumnDef="resourceIsBillable">
        <mat-header-cell *matHeaderCellDef> BILLABLE </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"
          [formGroupName]="i">
          <div class="mat-checkbox">
            <mat-checkbox matInput
              formControlName="resourceIsBillable"></mat-checkbox>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Key Resource information -->
      <ng-container matColumnDef="keyResource">
        <mat-header-cell *matHeaderCellDef> KEY RESOURCE </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"
          [formGroupName]="i">
          <div class="mat-checkbox">
            <mat-checkbox matInput
              formControlName="keyResource"></mat-checkbox>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> ACTION</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"
          [formGroupName]="i">
          <a class="icon-hover-blue"
            title="Save"
            (click)="onSubmit(i)">
            <i class="far fa-check-circle"></i>
          </a>&nbsp;&nbsp;
          <a class="icon-hover-red"
            title="Delete"
            (click)="onDelete(i)">
            <i class="far fa-trash-alt"></i>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [@smoothInOut]="in"
        *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </form>
  <div class="loader"
    *ngIf="isLoading">
    <div class="swirl"></div>
  </div>
</section>