<button (click)="dialogRef.close()"
  class="close-btn-dialog">
  <i class="fas fa-times"></i>
</button>
<h2 mat-dialog-title>Level Info Form</h2>
<div id="form-container"
  mat-dialog-content>
  <form [formGroup]="inputForm"
    (ngSubmit)="onSubmit(inputForm.valid)">
    <!-- MANAGER -->
    <mat-form-field class="full-width">
      <input matInput
        formControlName="levelName"
        placeholder="Level Name">
      <mat-error *ngIf="inputForm.get('levelName').hasError('required')">Required</mat-error>
    </mat-form-field>
    <div>
      <br>
      <button class="submit-btn"
        mat-raised-button
        type="submit">Submit</button>
    </div>
  </form>
</div>