/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './sass/variables.scss';
@font-face {
  font-family: sf;
  src: url('./assets/sf.otf');
}

*:not(i) {
   font-family: sf, monospace !important;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(54, 54, 54);
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(155, 155, 155);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(59, 59, 59);
    background-color: rgb(48, 48, 48);
}

//===========================================================
// ANCHOR TAGS
//===========================================================
a.icon-hover-blue:hover {
  color: $color-blue;
}

a.icon-hover-red:hover {
  color: $color-red;
}

a.space-between {
  visibility: hidden;
  width: 5px;
}

.full-width {
  width: 100%;
}

//===========================================================
// BUTTONS
//===========================================================
button.mat-raised-button {
  background-color: $app-primary-color;
  color: $color-white;
  min-width: 77px;
  box-shadow: none;
  border-radius: 0;
}

.close-btn-dialog {
    position: absolute;
    right: -19px;
    top : -14px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 3px;

    &:hover {
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
    }
}

//==================================
// LOADER
//==================================
.loader {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
  box-shadow: 0 2px 2px lightgrey;
  overflow: hidden;
}

.swirl {
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  border-top: 1px solid #3498db;
  width: 25px;
  height: 25px;
  animation: spin 0.3s linear infinite;
  position: absolute;
  top:40%;
  left:45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


//====================================
// Saver
//====================================

// Define vars we'll be using
$brand-success: #5cb85c;
$loader-size: 7em;
$check-height: 10px;
$check-width: 6px;
$check-left: 2px;
$check-thickness: 2px;
$check-color: $brand-success;

.circle-loader {
  margin-bottom: $loader-size/2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
  background-color: $check-color;
}

.checkmark {
  display: none;
  
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid white;
    border-top: $check-thickness solid white;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}

//===========================================================
// ANGULAR MATERIAL COMPONENTS
//===========================================================
mat-tab-body {
  padding-top: 20px;
}

//DATA TABLE
.mat-header-row {
  background-color: $table-header-bg-color;
}

.mat-header-cell {
  color: $table-header-font-color;
  font-weight: 600;
  font-size: 13px;
}

form mat-form-field {
  margin: 10px 0;
}

.mat-header-row {
  min-height: 40px;
  border: 0;
}

.mat-row {
  min-height: 30px;
  cursor: pointer;
}

.mat-row:hover {
  background-color: $table-row-hover-color;
}

mat-cell i {
  cursor: pointer;
}

mat-sidenav{
    width: $sidePanel-width;
}

mat-dialog-container.mat-dialog-container {
  position: relative;
  overflow: inherit;
}

mat-dialog-container .mat-dialog-title {
  margin: 0;
}

mat-dialog-container .mat-form-field,mat-dialog-container mat-checbox{
  font-size: 11px;
}

mat-checkbox .mat-checkbox-inner-container {
  height: 16px;
  width: 16px;
}


